html{
    background-color: #2E2E2E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}
body{
    margin: 0;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.heading{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    /* primary */
    color: #F4F4F4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 247px;
    margin-bottom: 40px;
}
.white-keys{
    display: flex;
    z-index: 1;
    justify-content: center;
    text-align: center;
    margin: 0 370px;
    font-size: 18px;
}
.white-keys kbd{
    display: inline-block;
    width: 100px;
    height: 300px;
    padding-top: 270px;
    color: #1F1F1F;
    background-color: #F4F4F4;
    border: 1px solid #2E2E2E;
    box-sizing: border-box;
}
.black-keys{
    position: absolute;
    display: flex;
    width: 550px;
    top: 362px;
    z-index: 2;
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
}
.black-keys kbd{
    display: inline-block;
    width: 50px;
    height: 200px;
    background: #1F1F1F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #F4F4F4;
}
.hidden-key{
    opacity: 0;
}
.links{
    margin-top: 21px;
    text-decoration: none;
    width: 700px;
    text-align: left;
    display: flex;
}
.git-link{
    text-decoration: none;
}
.signature{
    font-size: 12px;
    line-height: 14px;
    color: #17C6FE;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
}
.slide-bottom{
    -webkit-animation: slide-bottom 0.5s backwards;
    animation: slide-bottom 0.5s backwards;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}